@import "tailwindcss";

@utility a {
  @apply text-blue-500 hover:text-blue-500 hover:underline hover:decoration-2 hover:underline-offset-4 hover:cursor-pointer;
}

@utility a-underline {
  @apply underline decoration-2 underline-offset-4 hover:cursor-pointer;
}

@utility button {
  @apply text-center inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 hover:cursor-pointer disabled:opacity-50;
}

@utility button-primary {
  @apply button text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-500;
}

@utility button-secondary {
  @apply button text-gray-700 bg-white border-gray-300 hover:bg-gray-50 focus:ring-blue-500;
}

@utility button-danger {
  @apply button text-white bg-red-600 hover:bg-red-700 focus:ring-red-500;
}

.select {
  @apply h-10 text-sm bg-gray-200 rounded px-3 py-1 pr-8 focus:outline-none focus:ring-1 focus:ring-blue-500 appearance-none;

  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAnIGhlaWdodD0nMjAnIHZpZXdCb3g9JzAgMCAyMCAyMCcgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNNSA3LjVMMTAgMTIuNUwxNSA3LjUnIHN0cm9rZT0nIzM3NDE1MScgc3Ryb2tlLXdpZHRoPScxLjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcvPjwvc3ZnPg==");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

@utility text-input {
  @apply h-10 px-3 block w-full rounded-md bg-gray-200  focus:border-blue-500 focus:ring-blue-500;
}

@utility textarea {
  @apply min-h-20 px-3 py-2 block w-full rounded-md bg-gray-200  focus:border-blue-500 focus:ring-blue-500;
}

html {
  @apply font-serif  bg-gray-100;

  font-size: 18px;
}
