name: Build x Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.GH_ACTIONS_SSH_PRIVATE_KEY }}" > ~/.ssh/id.pem

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2
          bundler-cache: true

      - name: Install dependencies
        run: |
          gem install kamal

      - name: Login to GHCR
        run: echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u lockvoid --password-stdin

      - name: Build Docker Image
        run: docker build -t ghcr.io/lockvoid/live:latest .

      - name: Push to GHCR
        run: docker push ghcr.io/lockvoid/live:latest

      - name: Deploy with Kamal
        run: kamal deploy
        env:
          GHCR_PAT: "${{ secrets.GHCR_PAT }}"
